{% extends "base.html" %}
{% import "macros/macros.html" as macros %}

{% block content %}
{% set badges = page.extra.badges %}

{{- "# " ~ page.title | markdown | safe -}}

<p>
  badges from friens, cool ppl, snug nookers, i have no idea but its all here :D
</p>

<ul class="badges">
  <strong class="title">other ppl's badges/88x31s</strong>
  {%- for badge in badges.personal -%}
    <li>
      {%- if badge.url -%}
        <a href="{{ badge.url }}">
      {%- endif -%}
        <img
          width="88" height="31"
          class="pixels transparent no-hover"
          {% if badge.alt %}
            {% set badge_alt = badge.alt %}
          {% else %}
            {% set badge_alt = badge.name | split(pat=".", limit=2) | first %}
          {% endif %}
          alt="{{ badge_alt }}"
          {% set badge_url = "badges/badges/" ~ badge.name %}
          src="{{ get_url(path=badge_url, cachebust=true) }}"
          {% if config.markdown.lazy_async_image %}
            decoding="async" loading="lazy"
          {% endif %}
        />
      {%- if badge.url -%}
        </a>
      {%- endif -%}
    </li>
  {%- endfor -%}
  {{- macros::icon(name="scissors") -}}
</ul>

<h2>myself</h2>

<p>hell yeah, thats me!</p>

<ul class="badges">
  <strong class="title">myself in badges/88x31s</strong>
  {%- for badge in badges.me -%}
    <li>
      {%- if badge.url -%}
        <a href="{{ badge.url }}">
      {%- endif -%}
        <img
          width="88" height="31"
          class="pixels transparent no-hover"
          {% if badge.alt %}
            {% set badge_alt = badge.alt %}
          {% else %}
            {% set badge_alt = badge.name | split(pat=".", limit=2) | first %}
          {% endif %}
          alt="{{ badge_alt }}"
          {% set badge_url = "badges/badges/" ~ badge.name %}
          src="{{ get_url(path=badge_url, cachebust=true) }}"
          {% if config.markdown.lazy_async_image %}
            decoding="async" loading="lazy"
          {% endif %}
        />
      {%- if badge.url -%}
        </a>
      {%- endif -%}
    </li>
  {%- endfor -%}
  {{- macros::icon(name="scissors") -}}
</ul>

{% endblock content %}
